.header
  .header_main
    = image_tag "pict/pict-reason-01.jpg",class:"header_main_icon"
    Nexus Partner
  .header_nav
    = link_to "トップページ", root_path, class: "btn"
    = link_to "ログイン", "sign_in", class: "btn"
    = link_to "新規登録", "sign_up", class: "top_btn"
.main
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    .topintroduction
      .from_group
        %label.label
          ニックネーム
        = f.text_field :nickname, class:"from_control"
        %label.label
          メールアドレス
        = f.email_field :email, class:"from_control"
        %label.label
          パスワード
        = f.password_field :encrypted_password, class:"from_control"
        %label.label
          役職
        = f.select :each_split_id, [["出演者", "出演者"], ["編集", "編集"]], include_blank: "選択して下さい", class: "from_control"
        = f.submit "Sing-up", class:"from_btn"
  .visual
    .visual_content
      .visual_content_subtitle
        動画をバズらせたい！
        %br
        そのパートナーを見つけ出すアプリ！
      .log__btn
        .abtn
          =link_to image_tag("pict/app.png",class:"bottom editing"),"#"
        =link_to image_tag("pict/google-play-badge.png",class:"gbtn bottom"),"#"